.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ***************************************************** */
/*                          setup                        */
/* ***************************************************** */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* ***************************************************** */
/*                     custom styling                    */
/* ***************************************************** */
html{
  background-image: linear-gradient(to bottom, #f8ccb8, #f8d0be, #f8d3c4, #f8d7c9, #f8dbcf);
  font-size: 125%;
  font-family: 'Mukta', sans-serif;
  color: #1d1d1d;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-family: 'Shojumaru', cursive;
  font-size: 2.5rem;
}

h2,
h3,
.chefName input,
.bentoTitle input,
.submit button {
  font-family: 'Aubrey', cursive;
}

h2 {
  font-size: 2.5rem;
}

.ingredient h2,
h3 {
  font-size: 1.8rem;
}

p,
.chefName input,
.bentoTitle input,
.submit button {
  font-size: 1.3rem;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/* ***************************************************** */
/*                       Header.js                       */
/* ***************************************************** */
header {
  background-image: linear-gradient(to right bottom, rgba(240, 170, 138, 0.5), rgba(237, 180, 155, 0.5), rgba(232, 190, 172, 0.5), rgba(227, 200, 189, 0.5), rgba(220, 210, 206, 0.5)),
                    url('./assets/osenBackground.jpg');
  background-size: cover;
  background-position: bottom;
  min-height: 95vh;
  padding-top: 250px;
}

.hero {
  width: 45%;
  margin-left: 50%;
  padding: 10px;
  background: rgba(19, 16, 16, 0.9);
}

.heroMobile {
  display: none;
}

.heroTxt {
  padding: 10px;
  border: 2px solid #fff6ef;
}

.heroTxt p {
  line-height: 1.8rem;
}

header h1,
header p {
  color: #fff6ef;
}

img {
  width: 100%;
  max-width: 100%;
}

/* ***************************************************** */
/*                          main                         */
/* ***************************************************** */
main {
  background: url('./assets/plainBackground.jpg');
  background-repeat: repeat;
}

/* ***************************************************** */
/*                       UserInput.js                    */
/* ***************************************************** */
.userInputForm {
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;
}

/* text inputs */
.chefName,
.bentoTitle {
  margin: 30px 0;
  text-align: center;
}

.chefName input,
.bentoTitle input {
  background: rgba(255, 231, 211, 0.5);
  width: 100%;
  border: 2px solid #ffe7d3;
  border-radius: 30px;
  line-height: 2rem;
  text-align: center;
}

.chefName input:hover,
.chefName input:focus,
.chefName input:active,
.bentoTitle input:hover,
.bentoTitle input:focus,
.bentoTitle input:active,
.submit button:hover,
.submit button:focus,
.submit button:active {
  box-shadow: 0 0 20px #7e0005;
}

/* radio inputs */
.ingredient {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.ingredient h2,
.ingredient div {
  width: 30%;
}

.ingredient input:hover,
.ingredient input:focus,
.ingredient input:active {
  box-shadow: 0 0 10px #7e0005;
}

.submit {
  margin: 30px 0;
  text-align: center;
}

.submit button {
  background-image: linear-gradient(to left top, #f8ccb8, #f8d0be, #f8d3c4, #f8d7c9, #f8dbcf);
  border: none;
  border-radius: 30px;
  width: 40%;
  line-height: 2rem;
}

/* ***************************************************** */
/*                     BentoDispaly.js                   */
/* ***************************************************** */
.bentoDisplay {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.singleBento {
  margin: 20px 0;
  width: 30%;
  text-align: center;
}

.singleBento h3 {
  padding-bottom: 20px;
}

.singleBento p {
  line-height: 1.8rem;
}

.bentoBox {
  background: #1d1d1d;
  display: flex;
  flex-wrap: wrap;
}

.bentoPart {
  background-image: radial-gradient(circle, #7e0005, #720006, #660006, #5b0006, #4f0104);
}

.partTopLeft,
.partBotRight {
  width: calc( 45% - 15px);
  padding: 15px 0;
}

.partTopRight,
.partBotLeft {
  width: calc( 55% - 15px);
}

.partTopLeft {
  border-radius: 30px 0 0 0;
  margin: 10px 5px 5px 10px;
}

.partTopRight {
  border-radius: 0 30px 0 0;
  margin: 10px 10px 5px 5px;
}

.partBotLeft {
  border-radius: 0 0 0 30px;
  margin: 5px 5px 10px 10px;
}

.partBotRight {
  border-radius: 0 0 30px 0;
  margin: 5px 10px 10px 5px;
}

/* footer */
footer {
  background-image: linear-gradient(to top, #3f0406, #420507, #450609, #49080a, #4c090b);
}

footer p,
footer a {
  color: #ffe7d3;
  text-align: center;
}


/* ***************************************************** */
/*                      media queries                    */
/* ***************************************************** */
@media (max-width: 1410px) {
  h1 {
    font-size: 2.3rem;
  }
}

@media (max-width: 1305px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 1232px) {
  .userInputForm {
    width: 60%;
  }
}

@media (max-width: 1155px) {
  .hero {
    width: 50%;
  }

  .singleBento {
    width: calc( 50% - 10px);
    margin: 20px 5px;
  }

}

@media (max-width: 1090px) {
  .heroTxt p {
    font-size: 1rem;
  }
}

@media (max-width: 1040px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 1030px) {
  .userInputForm {
    width: 70%;
  }
}

@media (max-width: 886px) {
  .userInputForm {
    width: 80%;
  }
}

@media (max-width: 777px) {
  .userInputForm {
    width: 90%;
  }
}

@media (max-width: 770px) {
  h1 {
    font-size: 1.5rem;
  }

  .ingredient {
    flex-wrap: wrap;
  }

  .ingredient h2 {
    width: 100%;
  }

  .ingredient div {
    width: 50%;
  }
}

@media (max-width: 725px) {
  .singleBento h2 {
    font-size: 2rem;
  }

  .singleBento h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  header {
    min-height: 70vh;
  }

  .heroDesktop {
    display: none;
  }

  .heroMobile {
    width: 100%;
    display: block;
    margin-left: 0;
    color: #ffe7d3;
  }
}

@media (max-width: 590px) {
  .singleBento {
    width: 100%;
    border-bottom: 2px solid #2d2d2d;
  }

  .singleBento p {
    padding: 20px 10px;
  }
}

@media (max-width: 450px) {
  .ingredient {
    width: 45%;
  }

  h2,
  .ingredient h2 {
    font-size: 1.5rem;
  }

  .ingredient div {
    width: 100%;
  }

  .submit button {
    width: 70%;
  }
}

@media (max-width: 430px) {
  header {
    background-position: 27%;
  }

  h1 {
    text-align: center;
  }

  .ingredient {
    width: 50%;
  }
}

@media (max-width: 382px) {
  .ingredient {
    width: 63%;
  }
}